<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
    <meta charset="UTF-8">
    <title>To-do List</title>
    <!-- Corrigido a digitação do atributo 'rel' -->
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h1>Lista de Tarefas</h1>

<!-- Formulário para adicionar tarefas -->
<form action="#" th:action="@{/tasks}" method="post">
    <input type="text" name="descricao" placeholder="Nova Task" required>
    <button type="submit">Adicionar</button>
</form>

<!-- Exibição da lista de tarefas -->
<ul>
    <li th:each="task : ${tarefas}">
        <span th:text="${task.descricao}"></span>
        <!-- Formulário para excluir a tarefa -->
        <form th:action="@{/tasks/delete/{id}(id=${task.id})}" method="post" style="display:inline;">
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit">Excluir</button>
        </form>
        <form th:action="@{/tasks/{id}(id=${task.id})}" method="post" style="display:inline;">
            <input type="text" name="descricao" th:value="${task.descricao}" />
            <input type="hidden" name="_method" value="PUT" />
            <button type="submit">Editar</button>
        </form>
    </li>
</ul>

</body>
</html>
