* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 300; /* regular */
    list-style-type: none;
}

body {
    background: linear-gradient(to bottom, rgba(34, 24, 49, 1), rgba(62, 48, 83, 1), rgba(34, 24, 49, 1));
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilizando o container central */
#caixa-centro {
    background-color: #D3D7E7;
    margin: 50px auto;
    width: 50%; /* Aumente a largura do container */
    min-height: 20em; /* Adiciona um tamanho mínimo para o container */
    border-radius: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    margin-top: 1em;
    padding: 1em;
    font-size: 25px;
    text-transform: uppercase;
    color: #221831;
}
#inserir-tarefa {
    display: flex;
    align-items: center;
    width: 80%; /* Faz o input ocupar toda a largura disponível */
    height: 50px; /* Tamanho fixo para o campo de input e o botão */
    border: 1px solid #3E3053;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 20px; /* Adiciona um pequeno espaço abaixo do campo de input */
}

#inserir-tarefa input {
    flex: 1; /* Faz o input ocupar o máximo de espaço disponível */
    border: none;
    padding: 15px;
    font-size: 14px;
    outline: none;
    background: none;
}

#inserir-tarefa button {
    background: #221831;
    color: white;
    border: none;
    padding: 10px 20px; /* Adiciona um espaçamento confortável ao redor do texto */
    cursor: pointer;
    font-size: 14px;
    height: 100%;
    border-top-right-radius: 15px;  /* Borda arredondada no topo e na parte direita */
    border-bottom-right-radius: 15px;  /* Borda arredondada na parte inferior direita */
    border-left: none;  /* Remove a borda da parte esquerda */
    text-transform: uppercase;
}


ul {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha as tarefas no centro */
    justify-content: center;
}


.tarefa {
    color: #221831;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #221831;
    width: 80%; /* Torna as tarefas mais largas e responsivas */
    max-width: 900px;
    box-sizing: border-box;
    margin-bottom: 10px; /* Distância entre as tarefas */
}

.tarefa span {
    flex: 1;
    text-align: left;
    margin-left: 10px;
    font-weight: 500;
}

.tarefa i {
    font-size: 22px;
    cursor: pointer;
    margin-left: 10px;
}

.concluida {
    border: 1px solid #366355;
    color: #366355;
}

.concluida span {
    text-decoration: line-through;
}

#delete-tarefas button {
    text-transform: uppercase;
    background: none;
    color: #C73636;
    border: 1px solid #C73636;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
}

#finish-delete {
    padding: 1em;
}

#finish-tarefas button {
    text-transform: uppercase;
    background: none;
    color: #366355;
    border: 1px solid #366355;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
}

#delete-tarefas button:hover {
    background-color: #C73636;
    color: white;
    transition: all 0.5s;
}

#finish-tarefas button:hover {
    background-color: #366355;
    color: white;
    transition: all 0.5s;
}

#inserir-tarefa button:hover {
    transition: all 0.8s;
    background-color: #465779;
}

#tarefas-list {
    padding: 0.4em;
}

.check-btn {
    font-size: 22px;
    color: #D3D7E7;
    border: 1px solid #221831;
    border-radius: 100%;
    cursor: pointer;
    margin-left: 10px;
    transition: color 0.3s;
}

.concluida .check-btn {
    color: #366355;
    border: 1px solid #366355;
    cursor: pointer;
}
.delete-btn .delete-btn{
    color: #C73636;
    cursor: pointer;

}
.concluida .check-btn:hover{
    transition: all 0.8s;
    color: #27463c;
}
.edit-btn:hover{
    transform: scale(1.09);
    transition: all 0.8s;
    cursor: pointer;
}
.delete-btn:hover{
    color: #830000;
    transform: scale(1.09);
    transition: color 0.8s;
}
